# Analyse .csv files
The following lines of code will help us to understand the .csv files.

In [1]:
import pandas as pd

# Read the .csv files
buisness = pd.read_csv(r'/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Passerelle 2/Intro To Database/Project/Part A/Data/yelp-csv/yelp_academic_dataset_business.csv')
review = pd.read_csv(r'/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Passerelle 2/Intro To Database/Project/Part A/Data/yelp-csv/yelp_academic_dataset_review.csv')
tip = pd.read_csv(r'/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Passerelle 2/Intro To Database/Project/Part A/Data/yelp-csv/yelp_academic_dataset_tip.csv')
user = pd.read_csv(r'/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Passerelle 2/Intro To Database/Project/Part A/Data/yelp-csv/yelp_academic_dataset_user.csv')

### Buisness file

In [2]:
buisness.head(3)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'GoodForMeal': ""{'dessert': False, 'latenight...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"1210 8th Street SW, Unit 220","{'BusinessParking': ""{'garage': False, 'street...",fcXOEZdXYeZqnQ3lGlOXmg,"Local Services, Professional Services, Compute...",Calgary,"{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,51.041771,-114.081109,Nucleus Information Service,T2R 1L3,5,2.0,AB

In [3]:
print(f'Number of row : {buisness.shape[0]}')

Number of row : 192609

### Review file

In [4]:
review.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0.0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3.0,n6-Gk65cPZL6Uz8qRm3NYw
1,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0.0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7.0,ssoyf2_x0EQMed6fgHeMyQ
2,3fw2X5bZYeW9xCz_zGhOHg,5,2016-05-07 01:21:02,4.0,G7XHMxG0bx9oBJNECG4IFg,3.0,Tracy dessert had a big name in Hong Kong and ...,5.0,jlu4CztcSxrKx56ba1a5AQ

In [5]:
print(f'Number of row : {review.shape[0]}')

Number of row : 918680

### Tip file

In [6]:
tip.head(3)

,business_id,compliment_count,date,text,user_id
0,VaKXUpmWTTWDKbpJ3aQdMw,0,2014-03-27 03:51:24,"Great for watching games, ufc, and whatever el...",UPw5DWs_b-e2JRBS-t37Ag
1,OPiPeoJiv92rENwbq76orA,0,2013-05-25 06:00:56,Happy Hour 2-4 daily with 1/2 price drinks and...,Ocha4kZBHb4JK0lOWvE0sg
2,5KheTjYPu1HcQzQFtm4_vw,0,2011-12-26 01:46:17,Good chips and salsa. Loud at times. Good serv...,jRyO2V1pA4CdVVqCIOPc1Q

In [7]:
print(f'Number of row : {tip.shape[0]}')

Number of row : 1029047

### User file

In [8]:
user.head(3)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"['wSByVbwME4MzgkJaFyfvNg', 'cpQmAgOWatghp14h1p...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"['xh9VekYUo5CgVBxySQ70Tw', 'L3Z-WvSvYXvTf-lzST...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"['1IQ_d1RuMj8iIpcF2CDohA', 'lwhksSpgIyeYZor_Hl...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10

In [9]:
print(f'Number of row : {user.shape[0]}')

Number of row : 778651

### Analyze the Data

Now that we have better seen and understood the construction of the data, we can analyze it. Let's have a look first at the buisness' attribute named "attributes", "address" and "friends".

In [10]:
curr_set = buisness
look_at = input('Enter the name of the attribute in your current set that you are interested for:')
atts = curr_set[look_at]

#Here we go through the data to check the types of it.
types = []
for att in atts:
    if type(att) in types:
        pass
    else:
        types.append(type(att))

#We see that in our data we have two types of data given. It will be our mission to clean that
#and return only one type. (DATA CLEANING)
print(f"Different types of data in {look_at} : \n", types, "\n")

#Let's clean the words (remove all the ", ', {, ...)
def CleanWord(DirtyWord: str):
    return DirtyWord.translate({ord(i): None for i in '"{:}'})

# We have seen that all attributes begin with a capital. So we extract all of them with this "cheat".
all_att = []
for att in atts:
    if type(att) == str :
        for word in att.split():
            for i in range(len(word)):
                if word[i].isupper() and not("False" in word) and not("True" in word) and not("None" in word):
                    if CleanWord(word) in all_att:
                        pass
                    else:
                        all_att.append(CleanWord(word))

print(f'All sub-attributes that appears in {look_at} ({len(all_att)}): \n', all_att,)

Enter the name of the attribute in your current set that you are interested for: attributes

Different types of data in attributes :
 [<class 'str'>, <class 'float'>]

All sub-attributes that appears in attributes (6):
 ["'GoodForMeal'", "'BusinessParking'", "'NoiseLevel'", "'Ambience'", "'Music'", "'DietaryRestrictions'"]

In [11]:
#Prove that not every businesses have an address recorded.
atts = buisness["address"]

for att in atts:
    if type(att) == float:
        print(True, f"-> record found : {att}", "\nNot every business has its adress in the Yelp! dataset.")
        break

True -> record found : nan
Not every business has its adress in the Yelp! dataset.

In [12]:
#Prove that not every businesses have an "attributes" values recorded.
atts = buisness["attributes"]

for att in atts:
    if type(att) == float:
        print(True, f"-> record found : {att}", "\nNot every business has its attributes in the Yelp! dataset.")
        break

True -> record found : nan
Not every business has its attributes in the Yelp! dataset.

In [13]:
curr_set = user
look_at = input('Enter the name of the attribute in your current set that you are interested for:')
atts = curr_set[look_at]
stop = 5 #print the 5 first user with no friends.

for i in range(len(atts)):
    if len(atts[i])>0 and len(atts[i])<26: #26 is the length of someone with one friend.
        stop -= 1
        print(atts[i], i)
        print(user["user_id"][i])
        print("\n")
        
        if stop == 0 : #allow to stop the loop after 5 prints.
            break
    else:
        pass
    
if stop == 5: #means that no one has no friend
    print("Everyone is friend with at least one person")

Enter the name of the attribute in your current set that you are interested for: friends

Everyone is friend with at least one person